[Desktop Entry]
Name=Start SiLOX OS Setup
Icon=brasero
Exec=/home/user/System/Scripts/siboot.sh
prevent inhibate=false
Terminal=true
Icon Type=0
Type=Application
Origin=
Name[en_US]=Start SiLOX OS Setup
